{
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "ignorePatterns": [
    "node_modules",
    "vendor",
    "libs"
  ],
  "rules": {
    "semi": "error",
    "space-before-function-paren": [
      "error",
      "never"
    ]
  }
}
